<!DOCTYPE html>
<html>
  <head>
    <title>Overflow</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
      <div class="main">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ><a href="#">Questions <span class="sr-only">(current)</span></a></li>
        <li ><a href="#">Developer Jobs <span class="sr-only">(current)</span></a></li>
        <li ><a href="#">Tags <span class="sr-only">(current)</span></a></li>
        <li ><a href="#">Users</a></li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
         <li>

         </li>
        <% if !user_signed_in? %>
        <li><%=link_to "Sign up",  new_user_session_path %></li>
        <li><%=link_to "Log in",  user_session_path %></li>
        <li role="separator" class="divider"></li>
        <% end %>
        <% if user_signed_in? %>
        <li><%= link_to "Sign Out", destroy_user_session_path, method: "delete" %></li>
        <% end %>
        </ul>
 <span class="glyphicon glyphicon-inbox align-items-center" aria-hidden="true"></span>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </div>

    </div>
      <h1>Explora nuestras preguntas</h1>
    </div>
    <div>
      <h1>Aca van las preguntas</h1>
      <div class="col-sm-6 col-md-4">
      <%= yield %>
      </div>
    </div>
  </body>
</html>
